img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.postContent img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.postContent code {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.postContent pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
}

.postContent a,
.postContent a:visited {
    color: #2e7d32;
}

.postContent a:hover,
.postContent a:focus,
.postContent a:active {
    color: #2e7d32;
}

.postContent .retro-no-decoration {
    text-decoration: none;
}

.postContent {
    /* font-size: 12px; */
    padding-bottom: 10px;
}

.postContent p,
.postContent .retro-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

.postContent h1,
.postContent .retro-h1,
.postContent h2,
.postContent .retro-h2,
.postContent h3,
.postContent .retro-h3,
.postContent h4,
.postContent .retro-h4 {
    margin: 1.414rem 0 .1rem;
    font-weight: inherit;
    line-height: 1.42;
}

.postContent h1,
.postContent .retro-h1 {
    margin-top: 0;
    font-size: 3rem;
}

.postContent h2,
.postContent .retro-h2 {
    font-size: 2rem;
}

.postContent h3,
.postContent .retro-h3 {
    font-size: 1.5rem;
}

.postContent h4,
.postContent .retro-h4 {
    font-size: 1.2rem;
}

.postContent h5,
.postContent .retro-h5 {
    font-size: 1rem;
}

.postContent h6,
.postContent .retro-h6 {
    font-size: .88rem;
}

.postContent small,
.postContent .retro-small {
    font-size: .707em;
}


/* https://github.com/mrmrs/fluidity */

.postContent img,
.postContent canvas,
.postContent iframe,
.postContent video,
.postContent svg,
.postContent select,
.postContent textarea {
    max-width: 100%;
}


/* .postContent {
    background-color: #222;
    min-height: 100%;
}

html {
    font-size: 18px;
} */

.postContent {
    /* color: #fafafa; */
    /* font-family: "Courier New"; */
    /* line-height: 1.45; */
    /* margin: 6rem auto 1rem;
    max-width: 48rem;
    padding: .25rem; */
}

.postContent pre {
    background-color: #333;
}

.postContent blockquote {
    border-left: 3px solid #2e7d32;
    padding-left: 1rem;
}

.postContent table,
.postContent th,
.postContent td {
    border-collapse: collapse;
    border: 1px solid #333;
}